<form action="{{ action }}" method="post">
    <div class="buttons pull-right">
        <div class="right">
            <input id="apple-pay-button-submit" type="submit" value="{{ button_confirm }}" class="button btn btn-primary"/>
        </div>
    </div>
</form>

<script type="text/javascript">
    if(!window.ApplePaySession)
    {
        let button = document.getElementById('apple-pay-button-submit');
        button.disabled = true;
        $('#collapse-checkout-confirm .panel-body').prepend('<div class="alert alert-danger">' + '{{ applepay_isnt_available }}' + '<button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }
</script>